<!DOCTYPE html>
<html lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页，我喜欢</title>
    <link type="text/css" href="../static/css/css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/jquery.pagination.css"/>
</head>

<body>
<div class="hrader">
    <a href="login.html" style="color:#FD7306;margin-left:20px;">请登录</a>
    <a href="/personal/reg/">注册</a>
    <div class="topNav">
        <a href="index.html" style="color:#FD7306;">首页</a>
        <a href="mall/buy.html">买家</a>
        <a href="sell.html">卖家</a>
        <a href="personal/vip.html">会员中心</a>
        <a href="xuanshang.html">悬赏榜</a>
        <a href="" class="luntan">论坛</a>
        <a href="help.html">帮助</a>
        <a href="#">&nbsp;</a>
        <a href="#" class="lan">中文</a>
        <a href="#" class="lan">English</a>
    </div><!--topNav/-->
</div><!--hrader/-->
<div class="navBox navBg1">
    <ul class="nav">
        <li><a href="">首页</a></li>
        <li><a href="">买家</a></li>
        <li><a href="">卖家</a></li>
        <li><a href="">会员中心</a></li>
        <li><a href="">悬赏榜</a></li>
        <li><a href="" class="luntan">论坛</a></li>
        <li><a href="">帮助</a></li>
        <div class="clears"></div>
    </ul><!--nav/-->
</div><!--navBox/-->
<form action="#" method="get" class="proDingzhi">
    <div class="phoneBox clearfix" id="phone_box" v-show="downIcon" @click="sort">
        <dl v-for="item in list" v-on:click="ShowThis(item.id)">{{ item.name }}
            <dt><img src="../static/images/phone5.png" alt="请等待"/></dt>
            <dd>
                <div class="phonePars">
                </div><!--phonePar/-->
                <div class="xiaoliang">
                    <span class="blue">{{ item.browse_count }}人看过</span>
                    <span class="pad">上海有货</span>
                </div><!--xiaoliang/-->
                <div class="jiaru-shoucang">
                    <span class="jiaruCar">加入购物车</span>
                    <span class="shoucangCar"><a href="">选用此模型</a></span>
                    <div class="clears"></div>
                </div><!--jiaru-shoucang/-->
            </dd>
        </dl>
        <div class="buyinfo">
            <div class="buyDtl" v-show="!downIcon" @click="sort" v-for="item in list">
                <div class="buyDtlLeft">
                    <div class="buyimgBig">
                        <img src="../static/images/buyinfo1.jpg" width="360" height="360"/>
                        <img src="../static/images/buyinfo1.jpg" width="360" height="360"/>
                        <img src="../static/images/buyinfo1.jpg" width="360" height="360"/>
                        <img src="../static/images/buyinfo1.jpg" width="360" height="360"/>
                        <img src="../static/images/buyinfo1.jpg" width="360" height="360"/>
                    </div><!--buyimgBig/-->
                    <ul class="buyimgsmall">
                        <li><img src="../static/images/buyinfo-s1.jpg" width="50" height="50"/></li>
                        <li><img src="../static/images/buyinfo-s2.jpg" width="50" height="50"/></li>
                        <li><img src="../static/images/buyinfo-s3.jpg" width="50" height="50"/></li>
                        <li><img src="../static/images/buyinfo-s4.jpg" width="50" height="50"/></li>
                        <li><img src="../static/images/buyinfo-s5.jpg" width="50" height="50"/></li>
                    </ul><!--buyimgsmall/-->
                </div><!--buyDtlLeft/-->
                <div class="buyDtlRight">
                    <h3>{{ item.id }}</h3>
                    <h4>【赠送精品蓝牙耳机+超大容量移动电源】5.0英寸高清大屏 真八核1.7GHz 1300万像素主摄像头</h4>
                    <h5>价格：<span>￥</span><strong id="price_item_1"></strong></h5>
                    <table class="buyTable">
                        <tr>
                            <th width="70">商品编号</th>
                            <td>201410221013</td>
                        </tr>
                        <tr>
                            <th width="70">运费</th>
                            <td>包邮</td>
                        </tr>
                        <tr>
                            <th width="70">机身颜色</th>
                            <td>
                                <ul class="buyji">
                                    <li>黑色</li>
                                    <li>灰色</li>
                                    <li>银色</li>
                                    <div class="clears"></div>
                                </ul><!--buyji/-->
                            </td>
                        </tr>
                        <tr>
                            <th width="70">机身内存</th>
                            <td>
                                <ul class="buyji">
                                    <li>8GB</li>
                                    <li>16GB</li>
                                    <li>32GB</li>
                                    <li>64GB</li>
                                    <div class="clears"></div>
                                </ul><!--buyji/-->
                            </td>
                        </tr>
                        <tr>
                            <th width="70">手机库存</th>
                            <td>有货</td>
                        </tr>
                        <tr>
                            <th width="70">购买数量</th>
                            <td>
                                <div class="p_number">
                                    <div class="f_l add_chose">
                                        <a class="reduce" onClick="setAmount.reduce('#qty_item_1')"
                                           href="javascript:void(0)">-</a>
                                        <input type="text" name="qty_item_1" value="1" id="qty_item_1"
                                               onKeyUp="setAmount.modify('#qty_item_1')" class="text"/>
                                        <a class="add" onClick="setAmount.add('#qty_item_1')" href="javascript:void(0)">+</a>
                                    </div>
                                    <div class="f_l buy">
                                        总价：<span class="total-font" id="total_item_1">￥89.00</span>
                                        <input type="hidden" name="total_price" id="total_price" value=""/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table><!--buyTable/-->
                    <div class="goumai">
                        <a href="car?id=" class="buy-gou">立即购买</a>
                        <a href="#" class="buy-mai">加入购物车</a>
                    </div><!--goumai/-->
                </div><!--buyDtlRight/-->
                <div class="clears"></div>
            </div><!--buyDtl/-->
        </div><!--buyinfo/-->
    </div><!--phoneBox/-->
</form>
<div class="footer">
    <a href="#">关于我们</a>
    <a href="#">友情链接</a>
    <a href="#">版权声明</a>
    <a href="#">网站地图</a>
    <br/>
    <span>&copy; 2020Unqezi 使用前必读</span>
</div><!--footer/-->
{#<script type="text/javascript" src="../static/js/jquery.js"></script>#}
{#<script type="text/javascript" src="../static/js/js.js"></script>#}
<script type="text/javascript" src="../static/js/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
    new Vue({
        el: '#phone_box',
        data: {
            downIcon: true,
            list: []
        },
        created: function () {
            this.$http.get('http://127.0.0.1:8000/goods/').then(function (res) {
                console.log(res);
                this.list = res.data;
                console.log(this.list)
            }, function () {
                console.log('请求失败处理');
            });
        },
        methods: {
            ShowThis: function (data) {
                this.$http.get('http://127.0.0.1:8000/goods/' + data).then(function (res) {
                    console.log(res);
                    this.list = res.data;
                    console.log(this.list)
                }, function () {
                    console.log('请求失败处理');
                });
            },
            sort:function () {
                this.downIcon = !this.downIcon
            }
        }
        })
</script>

</body>
</html>
