<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆界面</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../../static/css/component.css"/>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>欢迎你</h3>
                <div class="input_outer">
                    <span class="u_user"></span>
                    <input id="uname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账号">
                </div>
                <div class="input_outer">
                    <span class="us_uer"></span>
                    <input id="upass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"
                           value="" type="password" placeholder="请输入密码">
                </div>
                <div class="errorText" id="error_box"><br></div>
                <div>
                    <button onclick="fnLogin()" class="lb1" style="color: #FFFFFF">登录</button>
                </div>
                <div>
                    <button onclick="fnregist()" class="lb2" style="color: #FFFFFF"><a href="regist.html">注册</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="../static/js/TweenLite.min.js"></script>
<script src="../static/js/EasePack.min.js"></script>
<script src="../static/js/rAF.js"></script>
<script src="../static/js/demo-1.js"></script>
<script src="../static/js/login.js"></script>
<div style="text-align:center;">
</div>
<script>
    function fnLogin() {
        var oUname = document.getElementById("uname")
        var oUpass = document.getElementById("upass")
        var oError = document.getElementById("error_box")
        var isError = true;
        if (oUname.value.length > 20 || oUname.value.length < 6) {
            oError.innerHTML = "用户名请输入6-20位字符";
            isError = false;
            return;
        } else if ((oUname.value.charCodeAt(0) >= 48) && (oUname.value.charCodeAt(0) <= 57)) {
            oError.innerHTML = "首字符必须为字母";
            return;
        } else for (var i = 0; i < oUname.value.charCodeAt(i); i++) {
            if ((oUname.value.charCodeAt(i) < 48) || (oUname.value.charCodeAt(i) > 57) && (oUname.value.charCodeAt(i) < 97) || (oUname.value.charCodeAt(i) > 122)) {
                oError.innerHTML = "必须为字母跟数字组成";
                return;
            }
        }

        if (oUpass.value.length > 20 || oUpass.value.length < 6) {
            oError.innerHTML = "密码请输入6-20位字符"
            isError = false;
            return;
        }
        window.alert("登录成功")
    }
</script>
</body>
</html>